.peek {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.peek-image {
    width: 12vw;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 0px #424362;
}

.peek-description {
    display: flex;
    flex-direction: column;
    gap: var(--dl-layout-space-halfunit);
    align-items: flex-start;
    text-align: center;
}

.peek-description-title {
    font-size: 1rem;
    font-weight: bold;
    color: var(--dl-color-gray-white);
}

.peek-description-description {
    color: var(--dl-color-gray-700);
}

@media (max-width: 768px) {
    .peek-image {
        width: 24vw;
        height: auto;
        aspect-ratio: 1 / 1;
    }
}

@media (max-width: 425px) {
    .peek-image {
        width: 40vw;
        height: auto;
        aspect-ratio: 1 / 1;
    }
    .peek-description {
        align-items: center;
        gap: 0;
    }   

    .peek-description-title {
        font-size: 1.5rem;
        font-weight: bold;
        align-items: center;
    }

    .peek-description-description {
        font-size: medium;
    }
}