.card {
    width: 18vw;
    min-height: 40vh;
    max-height: 55vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(76, 78, 130, 0.6), #080a45);
    border-radius: var(--dl-layout-radius-cardradius);
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid var(--dl-color-theme-accent1);
    border-radius: var(--dl-layout-radius-radius8);    
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6);
}

.card-image {
    margin-top: 0.75rem;
    object-fit: cover;
    border-radius: var(--dl-layout-radius-imageradius);
    align-self: center;
    aspect-ratio: 1 / 1;
    overflow: auto;
    width: fit-content;
}

.card-description {
    padding-left: 1rem;
}

.card-description-artist {
    color: var(--dl-color-gray-white);
    align-self: flex-start;    
    font-weight: 400;
    font-size: 1.5rem;
}

.card-description-song-name {
    font-size: 1rem;  
    font-weight: 300;  
}

.card-description-listeners-amount {
    font-size: 0.8rem;
    color: var(--dl-color-gray-700);
    font-size: 1rem;
    align-self: flex-start;
    padding-top: 0.25rem;
}

/* @media (max-width: 1600px) {
    .galeria-phone-songs {
        display: none;
    }

    .galeria-content {
        height: 397px;
    }

    .card-image {
        width: 15vw;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .card-description-artist {
        font-size: 1.25rem;
        padding: 0;
        margin-top: 1rem;
    }
}

@media (max-width: 1200px) {
    .galeria-phone-songs {
        display: none;
    }

    .galeria-content {
        height: 360px;
    }

    .galeria-phone-image {
        width: 17vw;
    }

    .card-description-artist {
        font-size: 1.5rem;
    }

    .card-description-song-name {
        font-size: 1rem;
    }
} */