.card {

}
.card-image {
    width: 20vh;
    height: auto;
    aspect-ratio: 1 / 1;
}
.card-description {

}
.card-description-artist {

}
.card-description-song-name {

}
.card-description-listeners-amount {
    
}