.search-bar{
    display: flex;
    align-items: center;
    min-width: 30vw;
    max-width: 40%;
    height: 3vh;
    background: var(--dl-color-theme-neutral-light);
    border-radius: 999px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.08);
    padding-left: 1rem;
    place-self: center;
}
