.peek-gallery {
    display: flex;
    flex-direction: column;
    margin: var(--dl-layout-space-halfunit);
    padding: var(--dl-layout-space-unit);
    border: 1px solid var(--dl-color-theme-accent2);
    border-radius: var(--dl-layout-radius-radius8);
    background-color: rgba(76, 78, 130, 0.6);
    box-shadow: 5px 5px 10px 0px #424362;
}

.peek-gallery-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: var(--dl-layout-space-doubleunit);
}

.peek-gallery-header-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--dl-color-gray-white);
}

.peek-gallery-header-subtitle {
    font-size: 1rem;
    font-family: Bricolage Grotesque;
    color: var(--dl-color-gray-white);
}

.peek-gallery-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--dl-layout-space-unit);
    padding-top: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-halfunit);
    color: var(--dl-color-gray-white);
    overflow: hidden;
}