.card-gallery {
    height: auto;
    /* display: flex; */
    /* overflow: auto; */
    /* position: relative; */
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: var(--dl-color-theme-neutral-light);
    color: var(--dl-color-gray-white);
    overflow: hidden;
    gap: 1rem;
}

.card-gallery-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.card-gallery-header-title {
    text-align: center;
    font-size: 3rem;
    font-family: "Inter";
    font-weight: 800;
    line-height: 1;
    letter-spacing: -2px;
    color: var(--dl-color-gray-white);
    text-transform: none;
    text-decoration: none;
}

.card-gallery-header-subtitle {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -1px;
    color: var(--dl-color-gray-700);
    text-transform: none;
    text-decoration: none;
}

.card-gallery-body {
    min-height: 30vh;
    /* width: 100%; */
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .card-gallery-body {
        display: flex;
        /* overflow-x: auto; */
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: auto;
        padding: 1rem;
        gap: 1rem;
    }

    .similar-gallery-body .card-gallery {
        flex: 0 0 200px;
    }

    .card-gallery::-webkit-scrollbar {
        display: block;
    }

    .card-gallery {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@media (max-width: 480px) {
    .card-gallery {
        width: 100vw;
        padding: 0;
        overflow: hidden;
        margin: auto;
    }
    .card-gallery-body {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        gap: 1rem;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }

    .card-gallery-body::-webkit-scrollbar {
        display: none;
    }
    .card-gallery-header-title {
        font-size: 5rem;
        padding-left: 0rem;
        margin-top: 0.5rem;
    }
}

.galeria-phone-songs {
    flex: 0 0 auto;
    display: none;
    align-items: flex-start;
    flex-direction: column;
}

.galeria-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.galeria-phone-title {
    font-size: 2rem;
    align-self: flex-start;
    padding-top: 0.5rem;
    padding-left: 1rem;
}

.galeria-phone-subtitle {
    font-size: 1.25rem;
    padding-left: var(--dl-layout-space-unit);
}

.galeria-phone-body {
    font-size: 1.25rem;
    align-self: flex-start;
    padding-top: 0.25rem;
    padding-left: 1rem;
} 