.card-search-gallery {
    padding: 1rem;
    background-color: var(--dl-color-theme-neutral-light);
    color: var(--dl-color-gray-white);
    min-height: 320px;
}

.card-search-gallery-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-search-gallery-header-title {
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    color: var(--dl-color-gray-white);
}


.card-search-gallery-body {
    min-width: 80vw;
    width: 100%;
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1rem;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.card-search-gallery-body::-webkit-scrollbar {
    display: none;
}

.card-search-gallery-body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (max-width: 480px) {    
    .card-search-gallery{
        display: flex;
        flex-direction: column;
    }
    .card-search-gallery-body{
        display: flex;
        align-items: center;
    }
    .card-search-gallery-header{
        justify-content: space-between;
        align-items: center;        
    }
    .card-search-gallery-header-btn{
        width: 25vw;
        align-self: center;
        margin-top: 1rem;
    }
}